@model Fakemail.Web.Models.UserModel

@using System.Linq;

@{
    ViewData["Title"] = "fakemail.stream";
}

<div class="text-left">
    <h5><em>A fake SMTP server for software integration testing.</em></h5>
</div>

<br />

<p><span style="font-weight: 700">Welcome, @Model.Username.</span></p>
<p>Here are your SMTP settings =>
Host: <span class="sourcecode">fakemail.stream:587</span>
Username: <span class="sourcecode">@Model.SmtpCredentials.First().SmtpUsername</span>
Password: <span class="sourcecode">@Model.SmtpCredentials.First().SmtpPassword</span>
</p>

<button class="btn btn-secondary btn-sm" onclick="InjectTestEmail('@Model.UserId', '@Model.SmtpCredentials.First().SmtpUsername')">Inject test email now</button>

<div id="_ReceivedEmailsTable">
    @await Html.PartialAsync("_ReceivedEmailsTable")
</div>

<div class="spinner-border" role="status"></div>
<br />
<span class="">Waiting for emails to arrive...</span>

<iframe id="download_iframe" style="display:none;"></iframe>

<script type="text/javascript">
    var sequenceNumber = 0;

    window.onload = (event) => {
        @if (Model.EmailSummaries.Any())
        {
        <text>sequenceNumber=@Model.EmailSummaries.Max(x => x.SequenceNumber);</text>
        }
        setTimeout(() => UpdateTable(false), 10000);
    }

    function UpdateTable(isOneOff) {
        var nextUpdate = 60000;

        fetch("@Model.UserId/update/" + sequenceNumber, {
            method: 'GET'
        })
        .then(response => response.text())
        .then(data => {
            if (data.length > 2) {
                $('#_ReceivedEmailsTbody:first').prepend(data);
                sequenceNumber = $('tr[sequenceNumber]:first').attr("sequenceNumber")
                nextUpdate = 5000;
            }
        });

        if (!isOneOff) {
            setTimeout(() => UpdateTable(false), nextUpdate);
        }
    }

    function InjectTestEmail(userId, smtpUsername) {
        var url = userId + '/smtpuser/' + smtpUsername + '/inject-test';
        fetch(url, {
            method: 'GET'
        })
        .then(response => UpdateTable(true));

        // TODO: error handling
    };
    
    function DownloadEmail(emailId) {
        var url = '@Model.UserId/email/' + emailId;
        document.getElementById('download_iframe').src = url;
    };

    function DeleteEmail(emailId) {
        $(".tr[emailId='" + emailId + "']").remove();

        var url = '@Model.UserId/email/' + emailId + "/delete";
        fetch(url, {
            method: 'GET'
        })
        .then(response => response.text())
        .then(data => {
            // TODO: display notification
            $("tr[emailId='" + emailId + "']").remove();
        });
    }
</script>


